*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';

}
body{
    background: #080808;
    color: white;
    
}
#header{
width: 100%;
height: 100vh;
background-image: url(faizanbcweb4.png);
background-position: center;
background-size: cover;
}

.container{
    padding: 10px 10%;
    
}

nav{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
nav ul li{

    margin: 10px 20px;
    display: inline-block;
    list-style: none;

}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    position: relative;

}
nav ul li a::after{

    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
    
}

.header-text{
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
}
.header-text h1>span{
    color: #ff004f;
}

/* -----------about------------ */
#about{
padding: 80px 0;
color: #ababab
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutcol1{
    flex-basis: 35%;

}
.aboutcol1 img{
    width: 100%;
    border-radius: 20px;
}

.aboutcol2{
    flex-basis: 60%;

}


.subtitle{
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.tabtitles{
    display: flex;
    margin: 30px 0px 40px;

}
.tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tablinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tablinks.activelink::after{
    width:50%
}

.tabcontents ul li{

list-style-type: none;
margin: 10px 0;

}
.tabcontents ul li span{
    color:#b54769;
    font-size: 14px;
}

.tabcontents{
    display: none;
}

.tabcontents.activetab{
    display: block;
}



/* =============services================== */

#services{
    padding: 30px 0px;

}
.serviceslist{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.serviceslist div{
    background-color: #262626;
    font-size: 13px;
    font-weight: 400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    border: 2px solid rgb(245, 135, 135);
    border-radius: 10px;
     transition: background 0.5s;
}
.serviceslist div i{
    font-size: 50px;
    margin-bottom: 10px;
}


.serviceslist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.serviceslist div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
    transition: 0.5s;
}

.serviceslist div a{
    text-decoration: none;
    color: white;

    font-size: 14px;
    margin-top: 22px;
    display: inline-block;
}



/* ====================PORTFOLIO===== */
#portfolio{
    padding: 50px 0;
   
}

.worklist{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;


}
.work{

    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height:100%;
    border-radius:10px;
   
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: black;
    font-weight: 500;
    padding: 0 40px;
    background: linear-gradient(rgba(0,0,0,0,0.6) #78b4e2);
    transition: height 0.5s;

    

}
.layer h3{
    font-weight: 700;
    margin-bottom: 20px;

}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.work:hover img{
    transform: scale(1.1);

}

.btn{
    margin:50px auto;
    display: block;
    text-decoration: none;
    color: white;
    border: 2px solid rgb(211, 72, 72);
    padding: 14px 50px;
    border-radius: 6px;
    width: fit-content;
    transition:transform 0.5s;
}

.btn:hover{
    background: #ff004f;
    transform: scale(1.1);
    
}

/* -----------contact me--- */


.contactleft{
    flex-basis: 35%;
}
.contactright{
    flex-basis: 60%;
}
.contactleft p{
 margin-top: 50px;
 font-size: 18px;
 color: #d2e278;
}
.social-icons{
  margin-top: 30px;
  
}
.contactleft p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
}
.btn3{
    display: inline-block;
    background-color: black;
    color: white;
    cursor: pointer ;
}

form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.copyright{
    
    text-align: center;
    background-color: #262626;
    font-size: large;
    font-weight: 300;
    padding: 25px 0;
    width: 100%;


}
html{
    scroll-behavior: smooth;
}


/* -----css for small

*/
nav .menu{
    display: none;
}

@media only screen and (max-width: 600px) {
    #header{
        background-image: url(faizanbc.png);
    }

    nav .menu{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #c76464;
        position: fixed;
         top: 0;
        right: -200px;
        width: 200px;
        height: 50vh;
        padding-top: 50px; 
        border-radius: 5%;
        transition: 0.5s;
        z-index: 2;


    }
    nav ul i{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

        
    }
}


#msg{
    margin-top: -10px;
    display: block;
    color: #d2e278;
}